association/serversides/cctiddly/Branches/Modules/modules/sdk/files/wsdl/20082/02/ClickToCall/ClickToCall.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sdk.bt.com/2008/02/ClickToCall" xmlns:tns="http://sdk.bt.com/2008/02/ClickToCall" xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sdk="http://sdk.bt.com/2008/02/ClickToCall" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://sdk.bt.com/2008/02/ClickToCall">
         <xs:complexType name="BaseResult">
            <xs:sequence>
               <xs:element name="errorCode" type="xs:int"/>
               <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

         <xs:element name="call">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="extAccountId" type="xs:string"/>
                  <xs:element minOccurs="0" name="callerNum" type="xs:string"/>
                  <xs:element minOccurs="0" name="calleeName" type="xs:string"/>
                  <xs:element minOccurs="0" name="calleeNum" type="xs:string"/>
                  <xs:element minOccurs="0" name="calleeContactId" type="xs:int"/>
               </xs:sequence>

            </xs:complexType>
         </xs:element>
         <xs:element name="callResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="baseResult" type="sdk:BaseResult"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:schema>
  </wsdl:types>
  <wsdl:message name="callRequest">
    <wsdl:part name="parameters" element="sdk:call"/>
  </wsdl:message>
  <wsdl:message name="callResponse">
    <wsdl:part name="parameters" element="sdk:callResponse"/>
  </wsdl:message>
  <wsdl:portType name="ClickToCallInterface">

    <wsdl:operation name="call">
      <wsdl:input name="callRequest" message="sdk:callRequest"/>
      <wsdl:output name="callResponse" message="sdk:callResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClickToCallSoapBinding" type="sdk:ClickToCallInterface">
    <wsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="call">
      <wsoap:operation soapAction="http://sdk.bt.com/2008/02/ClickToCall#call"/>

      <wsdl:input name="callRequest">
        <wsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="callResponse">
        <wsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClickToCallService">

    <wsdl:port name="ClickToCallEndpoint" binding="sdk:ClickToCallSoapBinding">
      <wsoap:address location="https://10.245.5.40:8443/endpoint/ClickToCall/2008/02"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
